<div ng-controller="Home">
    <form>
        <select ng-model="animal" ng-change="animalSearch()">
            <p>Select an Animal:</p>
            <option value=""></option>
            <option value="barnyard">Barnyard</option>
            <option value="bird">Bird</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="horse">Horse</option>
            <option value="pig">Pig</option>
            <option value="reptile">Reptile</option>
            <option value="smallfurry">Small Furry</option>
        </select>
    </form>
    <p>
        Animal: {{animal}}
    </p>
    <p>Valid Option: {{search}}</p>
</div>


